/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

main .hero h1 {
  margin: 5% 20%;
    padding: 0 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4rem;
    position: relative;
    z-index: 2;
    max-width: 41rem;
    color: #fff;
    max-width: 21.2rem;
    position: relative;
    z-index: 1;
}

main .hero picture {
  left: 50%;
    max-height: 100%;
    max-width: none;
    min-width: 100%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

main .hero img {
    left: 50%;
    max-height: 80.5rem;
    max-width: none;
    min-height: 80.5rem;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: auto!important;
    min-width: 100%;
}
